<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.taru.dao.five.OrderDaos">


    <select id="selectPriceById" parameterType="integer" resultType="integer">
        select home_price from home where home_id= #{homeId}
    </select>

    <insert id="insertOrderDao" parameterType="hashMap">
        insert into orders(home_id,user_id,order_price,order_user_indate,order_user_outdate)
        values(#{homeId},#{userId},#{orderPrice},#{orderUserIndate},#{orderUserOutdate})
    </insert>


</mapper>