<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.taru.dao.five.HomeDaos">


    <!--    查询所有房源《home》内容-->
    <select id="QueryHomeDao" resultMap="homeResultMap">
        select * from home where home_status=1
 </select>
    <resultMap id="homeResultMap" type="org.taru.entity.Home">
        <id column="home_id" property="homeId"></id>
        <result column="home_name" property="homeName"></result>
        <result column="home_address" property="homeAddress"></result>
        <result column="home_price" property="homePrice"></result>
        <result column="home_in_date" property="homeInDate"></result>
        <result column="home_out_date" property="homeOutDate"></result>
        <result column="landlord_id" property="landlord_id"></result>
        <result column="pictures_id" property="pictureId"></result>
        <result column="home_describe" property="homeDescribe"></result>
        <result column="home_status" property="homeStatus"></result>
        <result column="discuss_id" property="discussId"></result>
        <result column="style_id" property="styleId"></result>
        <result column="home_praise" property="homePraise"></result>
        <result column="home_spot" property="homeSpot"></result>
        <result column="home_configure" property="homeConfigure"></result>
    </resultMap>



    <!--    添加房源信息-->
    <!--    <insert id="addHomeDao" parameterType="org.taru.entity.Home">-->
    <!--        insert into home(home_id,home_name,home_address,home_price,reserve_date,landlord_id,pictures_id,-->
    <!--                         home_describe,home_status,discuss_id,style_id,home_praise,home_spot,home_configure)-->
    <!--                  values(#{homeId,jdbcType=INTEGER},#{homeName,jdbcType=VARCHAR},#{homeAddress,jdbcType=VARCHAR},#{homePrice,jdbcType=VARCHAR},-->
    <!--                  #{reserveDate,jdbcType=VARCHAR},#{landlord_id,jdbcType=INTEGER},#{pictureId,jdbcType=VARCHAR},#{homeDescribe,jdbcType=VARCHAR},-->
    <!--                  #{homeStatus,jdbcType=INTEGER},#{discussId,jdbcType=INTEGER},#{styleId,jdbcType=INTEGER},#{homePraise,jdbcType=VARCHAR},-->
    <!--                  #{homeSpot,jdbcType=VARCHAR},#{homeConfigure,jdbcType=VARCHAR})-->
    <!--    </insert>-->




    <!--   根据房源ID（home_id）逻辑删除房源信息-->
    <delete id="deleteHomeDao" parameterType="int">
        update home set home_status=0 where home_id =#{homeId}
    </delete>


    <!--    根据房源ID修改房源信息-->
    <update id="updateHomeDao" parameterType="org.taru.entity.Home">
        update home set home_name=#{homeName},
        home_address=#{homeAddress},
        home_price=#{homePrice},
        home_in_date=#{homeInDate},
        home_out_date=#{homeOutDate}
        where home_id =#{homeId}
    </update>



</mapper>