<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.taru.dao.six.DiscussDao">

    <select id="discussQuary" resultMap="discussMap">
        select d.discuss_id,d.discuss_text,d.discuss_date,d.discuss_status,h.home_name,h.home_address,h.home_id  from discuss d  left JOIN home h on h.home_id=d.discuss_id
    </select>
    <resultMap id="discussMap" type="org.taru.entity.DIscussHomeVo">
        <id property="discussId" column="discuss_id" jdbcType="TINYINT"></id>
        <result property="discussText" column="discuss_text" jdbcType="VARCHAR"></result>
        <result property="discussDate" column="discuss_date" jdbcType="VARCHAR"></result>
        <result property="discussStatus" column="discuss_status" jdbcType="TINYINT"></result>
        <collection property="list" ofType="org.taru.entity.Home">
            <id property="homeId" column="home_id" jdbcType="TINYINT"></id>
            <result property="homeName" column="home_name" jdbcType="VARCHAR"></result>
            <result property="homeAddress" column="home_address" jdbcType="VARCHAR"></result>
        </collection>

    </resultMap>
    <update id="discussDelete" parameterType="int">
        UPDATE `mingshu`.`discuss` SET  `discuss_status` = 0 WHERE `discuss_id` = #{id};
    </update>
    <select id="discussOneQuary" parameterType="int" resultMap="discussOneMap">
        select d.discuss_id,d.discuss_text,d.discuss_date,d.discuss_status,h.home_name,h.home_address,h.home_id  from discuss d  left JOIN home h on h.home_id=d.discuss_id
        where h.home_id=#{id}
    </select>
    <resultMap id="discussOneMap" type="org.taru.entity.DIscussHomeVo">
        <id property="discussId" column="discuss_id" jdbcType="TINYINT"></id>
        <result property="discussText" column="discuss_text" jdbcType="VARCHAR"></result>
        <result property="discussDate" column="discuss_date" jdbcType="VARCHAR"></result>
        <result property="discussStatus" column="discuss_status" jdbcType="TINYINT"></result>
        <collection property="list" ofType="org.taru.entity.Home">
            <id property="homeId" column="home_id" jdbcType="TINYINT"></id>
            <result property="homeName" column="home_name" jdbcType="VARCHAR"></result>
            <result property="homeAddress" column="home_address" jdbcType="VARCHAR"></result>
        </collection>

    </resultMap>

</mapper>