<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.taru.dao.six.OrdersSixDao">
<select id="ordersDao" resultType="org.taru.entity.OrderrVo">
        select o.order_id orderId,h.home_name homeName,u.user_name userName,o.order_user_indate orderUserIndate,o.order_price orderPrice,o.order_user_outdate orderOutdate from orders o LEFT JOIN home h
on h.home_id=o.home_id LEFT JOIN user u on u.user_id=o.user_id
    </select>
<select id="ordersOneDao" parameterType="int" resultType="org.taru.entity.OrderrVo">
        select o.order_id orderId,h.home_name homeName,u.user_name userName,o.order_user_indate orderUserIndate,o.order_price orderPrice,o.order_user_outdate orderOutdate from orders o LEFT JOIN home h
on h.home_id=o.home_id LEFT JOIN user u on u.user_id=o.user_id where u.user_id=#{id}
    </select>
<update id="orderModify" parameterType="hashMap">
        UPDATE `orders` SET  `order_price` = #{orderPrice}, `order_user_indate` = #{orderUserIndate}, `order_user_outdate` = #{orderUserOutdate} WHERE `order_id` = #{id};
    </update>
<update id="orderdelete" parameterType="int">
        UPDATE `orders` SET  `order_status` = 0 WHERE `order_id` = #{id};

    </update>

</mapper>