<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.taru.dao.six.SearchTwoDao">
<select id="searchTwoDao" parameterType="HashMap" resultType="org.taru.entity.HomeLandlordStyleVO">
    SELECT h.home_id homeId,h.home_name homeName,h.home_address homeAddress,h.home_price homePrice,h.home_in_date homeIndate,h.home_describe homeDescribe,h.home_status homeStatus,h.discuss_id discussId,
    h.style_id styleId,h.home_praise homePraise,h.home_spot homeSpot,h.home_configure homeConfigure,h.home_out_date homeOutDate,p.picture_one pictureOne,
    s.style_name styleName,l.landlord_name landlordName,l.landlord_header_picture landlordHeaderPicture,l.landlord_phone landlordPhonr FROM home h LEFT JOIN style s on s.style_id=h.style_id
    left JOIN landlord l on h.landlord_id=l.landlord_id
    left join pictures p on p.picture_id=h.pictures_id
    <where>
        <if test="homeInDate!=null and homeInDate!='' ">
           and #{homeInDate}>= h.home_in_date
        </if>
        <if test="homeOutDate!=null and homeOutDate!='' ">
            and h.home_out_date>= #{homeOutDate}
        </if>
        <if test="styleName!=null and styleName!='' ">
            and s.style_name=#{styleName}
        </if>
        <if test="homeAddress!=null and homeAddress!='' ">
           and h.home_address=#{homeAddress}
        </if>
        <if test="closingPrice!=null and closingPrice!='' and beginningPrice!=null and beginningPrice!=''">
            and h.home_price between #{beginningPrice} AND #{closingPrice}
        </if>
    </where>
</select>

    <select id="styleDao" resultType="org.taru.entity.Style">
        select style_id styleId,style_name styleName from style
    </select>
    <select id="address" resultType="org.taru.entity.Home">
        SELECT AA.home_address homeAddress
  FROM home AA
 WHERE AA.home_id =
       (SELECT MIN(BB.home_id) FROM home BB WHERE AA.home_address = BB.home_address GROUP BY BB.home_address);
    </select>

</mapper>