<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.taru.dao.six.ShareSixDao">
<select id="shareoneSixDao" parameterType="int" resultType="org.taru.entity.UserRelationVo">
 select r.relation_id relationId,r.user_id userId,r.goodfrient_id goodFrientId,u.user_name userName from relation r left JOIN `user` u on r.goodfrient_id=u.user_id where r.relation_id =
       (SELECT MIN(BB.relation_id) FROM relation BB WHERE r.user_id = BB.user_id and r.goodfrient_id= BB.goodfrient_id GROUP BY BB.user_id) and r.user_id=#{id}
</select>
    <update id="shareDao" parameterType="int">
        INSERT INTO `mingshu`.`information`( `user_id`, `home_id`) VALUES (#{relationId}, #{homeId});
    </update>
    <select id="collectionQuary" parameterType="int" resultType="org.taru.entity.HomeCollection">
select h.home_name homeName,h.home_id homeId,h.home_address homeAddress,h.home_price homePrice,p.picture_one pictureOne from collection c LEFT JOIN home h on h.home_id=c.home_id left join pictures p on p.picture_id=h.pictures_id
where c.user_id=#{id} and c.collection_id =
       (SELECT MIN(BB.collection_id) FROM collection BB WHERE c.user_id = BB.user_id and c.home_id= BB.home_id GROUP BY BB.user_id)  ORDER BY c.collection_id
    </select>
    <insert id="collectionInsert" parameterType="int">
        INSERT INTO `mingshu`.`collection`(`user_id`, `home_id`) VALUES (#{userId}, #{homeId});
    </insert>

</mapper>