<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.taru.dao.six.ShareSixDao">
<select id="shareoneSixDao" parameterType="int" resultType="org.taru.entity.UserRelationVo">
select r.relation_id relationId,r.user_id userId,r.goodfrient_id goodFrientId,u.user_name userName from relation r left JOIN `user` u on r.goodfrient_id=u.user_id where r.user_id=#{id}
</select>
    <update id="shareDao" parameterType="int">
        INSERT INTO `mingshu`.`information`( `user_id`, `home_id`) VALUES (#{relationId}, #{homeId});
    </update>

</mapper>