<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.taru.dao.four.Guanzhu">

    <insert id="guanzhu" parameterType="org.taru.entity.Relation" useGeneratedKeys="true" keyProperty="relation_id" >
         insert into relation (user_id,goodfrient_id)
         VALUES (#{userid},#{goodfriendid})
    </insert>
</mapper>