<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.taru.dao.three.OrderDao">
    <!--关联关系映射-->
    <resultMap id="detail" type="org.taru.entity.User">
        <id property="userId" column="user_id" jdbcType="TINYINT"></id>
        <result property="userName" column="user_name" jdbcType="VARCHAR"></result>
        <result property="email" column="email" jdbcType="VARCHAR"></result>
        <result property="phone" column="phone" jdbcType="VARCHAR"></result>
        <result property="sex" column="sex" jdbcType="VARCHAR"></result>
        <result property="userHeaderPicture" column="user_header_picture" jdbcType="VARCHAR"></result>
    </resultMap>
    <resultMap id="hosityorder" type="org.taru.entity.User">
        <id property="userId" column="user_id" jdbcType="TINYINT"></id>
        <result property="userName" column="user_name" jdbcType="VARCHAR"></result>
        <result property="email" column="email" jdbcType="VARCHAR"></result>
        <result property="phone" column="phone" jdbcType="VARCHAR"></result>
        <result property="sex" column="sex" jdbcType="VARCHAR"></result>
        <result property="userHeaderPicture" column="user_header_picture" jdbcType="VARCHAR"></result>
        <!--关联订单表-->
        <collection property="orders" ofType="org.taru.entity.Order">
            <id property="orderId" column="order_id" jdbcType="TINYINT"></id>
            <result property="userId" column="user_id" jdbcType="TINYINT"></result>
            <result property="orderPrice" column="order_price" jdbcType="VARCHAR"></result>
            <result property="homeId" column="home_id" jdbcType="TINYINT"></result>
            <result property="orderStatus" column="order_status" jdbcType="VARCHAR"></result>
            <result property="orderUserIndate" column="order_user_indate" jdbcType="VARCHAR"></result>
            <result property="orderOutdate" column="order_user_outdate" jdbcType="VARCHAR"></result>
        </collection>
    </resultMap>
    <select id="userdetail" resultMap="detail">
        SELECT
            *
        FROM
            user a
        WHERE a.user_id=#{userId}
    </select>
    <select id="hosityorder" resultMap="hosityorder">
        SELECT
          *
        FROM
            orders a
            LEFT JOIN USER b ON a.user_id = b.user_id
        WHERE a.user_id=#{userId}
    </select>
</mapper>